<fieldset>

<legend>Listing Services</legend>
  <% for service in @service %> 
    <tr>
	<h1><td><%= service.header %></td></h1>
	<td><br/><%= service.description %><br/></td><br/>
   </tr>
  <% end %>

</fieldset>

