<h1>How it Work - Air Cooler</h1>
<br/>
<div class="col-1 col-indent">
  <div class="box">
    <h3>Menu</h3>
    <ul class="nostyle categories">
<li><%= link_to "Air Cooler", installations_path %></li>
<li><%= link_to "Misting System", installations_index2_path %></li>
    </ul>
</div>
</div>
<div class="col-1 col-indent">
<h3>The cooling principle of the cooling equipment:</h3>
<p>Air Cooler is evaporation of a liquid, typically into surrounding air, cools an object or a liquid in contact with it.</p><p>Latent heat describes the amount of heat that is needed to evaporate the liquid; this heat comes from the liquid itself and the surrounding gas and surfaces. When considering water evaporating into air, the wet-bulb temperature, as compared to the air's dry-bulb temperature.</p><p> The greater the difference between the two temperatures, the greater the evaporative cooling effect. When the temperatures are the same, no net evaporation of water in air occurs, thus there is no cooling effect.</p>
</div>
        <div class="col-5"><%= swf_tag "howitworks.swf" %></div>

<br/>
<div class="col-4 col-indent3">
<br/>
<h3>Advantages of using a cooling equipement:</h3>
<p>- Little investment, great effect<br/>
- Little electricity consumption<br/>
- Stable performance, reliable quality<br/>
- Large wind volume and far   wind transmission<br/>
- Great cooling effect<br/>
- Good air   quality<br/>
- Temperature adjustment<br/>
- Consumate service
<p></div>

	<div class="col-5"><%= swf_tag "house.swf" %></div>
