<h1>Listing installations</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @installation.each do |installation| %>
  <tr>
    <td><%= installation.name %></td>
  </tr>
<% end %>
</table>

<br />

