<h1>How it Work</h1>
<br/>
<h3>The cooling principle of the cooling equipment:</h3>
<p>Evaporative cooling is a physical phenomenon in which evaporation of a liquid, typically into surrounding air, cools an object or a liquid in contact with it. Latent heat describes the amount of heat that is needed to evaporate the liquid; this heat comes from the liquid itself and the surrounding gas and surfaces. When considering water evaporating into air, the wet-bulb temperature, as compared to the air's dry-bulb temperature, is a measure of the potential for evaporative cooling. The greater the difference between the two temperatures, the greater the evaporative cooling effect. When the temperatures are the same, no net evaporation of water in air occurs, thus there is no cooling effect.</p>
  <%= swf_tag "howitworks" %>

<h3>Advantages of using a cooling equipement:</h3>
<p>- Little investment, great effect<br/>
- Little electricity consumption<br/>
- Stable performance, reliable quality<br/>
- Large wind volume and far wind transmission<br/>
- Great cooling effect<br/>
- Good air quality<br/>
- Temperature adjustment<br/>
- Consumate service<br/>
<p>
  <%= swf_tag "house" %>

