<div class="photo">
 <p> 
   <%= form.fields_for :iphotos, iphoto, :child_index => (iphoto.new_record? ? "index_to_replace_with_js" : nil) do |iphoto_form| %>    
      <%= iphoto_form.file_field :data %>
    <% end %>
</p>
</div>
