<h1>Manage Products</h1>
This is where you can select products to edit or destroy. To help find the product you want to edit, you may sort products by their categories as well.
<br />
<%= render "manage/shared/product_list" %>
<%= link_to "Create New Product", new_manage_product_path %>
