<h1>Manage Products</h1>
<%= render "shared/product_show" %>
<div class="actions">
  <%= link_to "Edit", edit_manage_product_path(@product) %>
  <%= link_to "Destroy", manage_product_path(@product), :confirm => "Are you sure?", :method => :delete %>
</div>
<%= link_to 'Back to Products', manage_products_path %> 
