#slideshow {
  position:relative;
  height:400px;
}

#slideshow DIV {
  position:absolute;
  top:0;
  left:0;
  zindex:8;
  opacity:0.0;
  height: 400px;
  backgroundcolor: #FFF;
}

#slideshow DIV.active {
  zindex:10;
  opacity:1.0;
  float:center;
}

#slideshow DIV.lastactive {
  zindex:9;
  float:center;
}

#slideshow DIV IMG {
  height: 350px;
  display: block;
  border: 0;
  margin-bottom: 10px;
  float:center;
}

ul, ol {
  padding-left: 1.5em;
  margin-left: 0;
}
p {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

sub, sup {
  font-size: 70%;
}

.fadein img { position:absolute; }

div.img 
{
 margin: 2px;
 border: 2px;
 border-style: solid;
 border-color: black;
 height: auto;
 width: auto;
 float: left;
 text-align: right;
}

div.desc
{
text-align: center;
font-weight: normal;
width: 120px;
margin: 2px;
}

