<h1>About Us</h1>
<br />

<div class="col-1 col-indent">    
<br />

  <div class="box">
    <h3>Our Capabilities</h3>

    <div class="indent">

      <ul class="list nostyle">
        <li><a>Set-up done in a day</a><span>We are able to set up the event area and delivery can also be made using the shortest possible time. </span></li>

        <li><a>Best Solution</a><span>We will always provide the best cost andbest proposal to solve our clients air quality issues.</span></li>

        <li><a>High Quality</a><span>We will only provide the best quality products and best service to our clients.</span></li>

        <li><a>High Quantity</a><span>Our products stock would always be sufficient to meet our clients needs.</span></li>
      </ul>
    </div>

  </div>
</div>
<div class="col-2">
  <h2>The best way to cool down in town</h2>

  <div class="wrapper top4"> 

    <p class="top1"><strong>Great performance, great value</strong></p>

    <p class="top1">Acmeca provides excellent misting & cooling systems for indoor and outdoor cooling. We have the highest quality outdoor cooling fans and mist fans designed specially for your events’ and venues’ needs. We will listen to our client’s needs and go to the extra mile for them to ensure that they enjoy great values and services from us.</p>
  </div>

  <div class="wrapper top2"> 

    <p class="top1"><strong>We strive for perfection</strong></p>

    <p class="top1">Acmeca constantly challenge ourselves to continue to be a step ahead in terms of quality products and personalized service. We appreciate your continued support and comments.</p>
  </div>
  <div class="wrapper top2">
    <p class="top1"><strong>About us</strong></p>
    <p class="top1">Acmeca Electrical Trading, was established in 1991 by Mr Phua Ee Sen. In 2008, Acmeca Electrical Electrical Trading was converted to Acmeca Cooling System & Engineering Ptd Ltd. Our Research and Development efforts have resulted in a number of proprietary designs catered for commercial and industrial cooling needs. Acmeca Cooling System & Engineering Ptd Ltd’s brand - Islandfog® products are designed with flexibility and robustness. Our expertise in this industry has stretched over a decade and we will continue to evolve to suit the needs of the market.</p>

    <p class="top1">Our goal is to "Defeat the Heat" by guarantee the highest quality systems and components at the lowest price. Islandfog® products provide you with tools to cool even the most hostile environment.</p>
  </div>
</div>
            <img src="../assets/GrassFooter.jpg">
