<div class="header">
<div class="main">
<div class="col-1">
<div class="bunners">
<div class="indent">

<script type="text/javascript">

function slideSwitch() {
    var $active = $('#slideshow DIV.active');

    if ( $active.length == 0 ) $active = $('#slideshow DIV:last');

    // use this to pull the divs in the order they appear in the markup
    var $next =  $active.next().length ? $active.next()
        : $('#slideshow DIV:first');

    // uncomment below to pull the divs randomly
    // var $sibs  = $active.siblings();
    // var rndNum = Math.floor(Math.random() * $sibs.length );
    // var $next  = $( $sibs[ rndNum ] );


    $active.addClass('last-active');

    $next.css({opacity: 0.0})
        .addClass('active')
        .animate({opacity: 1.0}, 1000, function() {
            $active.removeClass('active last-active');
        });
}

$(function() {
    setInterval( "slideSwitch()", 5000 );
});
</script>

<style type="text/css">

/*** set the width and height to match your images **/

#slideshow {
    height:200px;
}

#slideshow DIV {
    z-index:8;
    text-align:center;
    opacity:0.0;
    height: 200px;
    background-color:transparent ;
}

#slideshow DIV.active {
    z-index:10;
    opacity:1.0;
}

#slideshow DIV.last-active {
    z-index:9;
}

#slideshow DIV IMG {
    height: 150px;
    display: block;
    border: 0;
    margin-bottom: 10px;
}

</style>

<div id="slideshow">
    
    <div class="active">
        <img src="../images/twitter.png" alt="Slideshow Image 3" text-align:center />
    </div>
    
    <div class="last-active">
        <img src="../images/rss.png" alt="Slideshow Image 4" />
    </div>
    
</div>

</div>
</div>
</div>
</div>
</div>
