<div class="main">
<div class="header">
<div class="wrapper">
<div class="col-1">
<div class="bunners">
<div class="bunner1 bg1">
<div class="indent">
				<h5>Empty</h5>
				<h4>Empty1</h4>

				<a href="#" class="bunner-link">Read More</a>

				</div>
						</div>

				<div class="bunner bg2">
				<div class="indent">

				<h5>Empty</h5>
				<h4>Empty1</h4>

				<a href="#" class="bunner-link">Read More</a>

				</div>
				</div>

				<div class="bunner bg3">
				<div class="indent">

				<h5>Empty</h5>
				<h4>Empty1</h4>

				<a href="#" class="bunner-link">Read More</a>

				</div>
				</div>
				</div>
				</div>

				<div class="col-2">
				<img src="../images/header.jpg" alt="" />

						</div>
					</div>
					</div>
			</div>
		</div>
