<% content_for :page_type do %>page1<% end %>
<% content_for :header do %>
  <div class="main">
    <div class="header">
      <div class="wrapper">
        <div class="col-1">
          <div class="bunners">
            <div class="bunner1 bg1">
              <div class="indent">
                <h5>Product</h5>

                <h4>Proin dictum elementum</h4><a href="#" class="bunner-link">Read
                More</a>
              </div>
            </div>

            <div class="bunner bg2">
              <div class="indent">
                <h5>Installation</h5>

                <h4>gravida at, cursusec</h4><a href="#" class="bunner-link">Read
                More</a>
              </div>
            </div>

            <div class="bunner bg3">
              <div class="indent">
                <h5>Service</h5>

                <h4>Neque porro quam est</h4><a href="#" class="bunner-link">Read
                More</a>
              </div>
            </div>
          </div>
        </div>
<div class="slideshow">
<div class="active">
        <img src="../images/header.jpg" alt="Slideshow Image 1" />
</div>
<div class="last-active">
        <img src="../images/rss.png" alt="Slideshow Image 2" />
</div>
</div>
      </div>
    </div>
  </div>
<% end %>
  <div class="col-1 col-indent">
    <div class="box">
      <h3>Our Capabilities</h3>

      <div class="indent">
        <ul class="list nostyle">
          <li><a href="#">Praesent vestibulum molestie</a><span>repudiandae
          sint et moles meda ibero Quisque nulla. Vestibulum libero nisl,
          porta vel, scelerisque eget..</span></li>

          <li><a href="#">Vestibulum iaculis lacinia est</a><span>repudiandae
          sint et moles meda ibero empedecum soluta nobiest
          eligendi</span></li>

          <li><a href="#">Sed ut perspiciatis unde omnis</a><span>repudiandae
          sint et moles ambos est libero empedecum soluta nobiesa</span></li>
        </ul>
      </div>
    </div>

    <form id="form-2" action="">
      <div class="indent">
        <strong>Newsletter sign up!</strong>

        <div>
          <label class="left"><input name="name" value="" /></label>
          <a class="left" href="#" onclick=
          "document.getElementById('form-2').submit()"><img src=
          "images/button1.gif" alt="" /></a> <a href="#" class=
          "Unsubscribe">Unsubscribe</a>
        </div>
      </div>
    </form>
  </div>

  <div class="col-2">
    <h2>The best place to store your stuff</h2>

    <div class="wrapper top4">
      <a href="#"><img src="images/page1-img1.jpg" alt="" class=
      "imgindent" /></a>

      <p class="top1"><a href="#"><strong>Quisque nulla estibulum libero
      nisl, porta</strong></a></p>

      <p class="top1">Uillum dolore inugiat oficia desenmolit animin laborum
      excepteur sint occaiecat cupidatan oin proident. Sunt in culpa qofficia
      sitdeseruntllt cursus leo vel metus. Nulla facilisi. Aenean nec
      erosestibulum...</p>
    </div>

    <div class="wrapper top2">
      <a href="#"><img src="images/page1-img2.jpg" alt="" class=
      "imgindent" /></a>

      <p class="top1"><a href="#"><strong>Vestibulum iaculis lacinia
      estroin</strong></a></p>

      <p class="top1">Cillum dolore inugiat oficut perspiciatis unde omnis
      iste natus error sit voluptatem accusantium doloremque laudantium,
      totam rem aperiam, eaque ipsa quae ab illo inventore veritatis
      et...</p>
    </div>

    <h2 class="h-top">Storage space for domestic and business needs</h2>

    <div class="wrapper top3-1">
      <div class="col-indent col-1">
        <ul class="list2 nostyle">
          <li><a href="#">At vero eos et accusmus et</a></li>

          <li><a href="#">Idio dignissimos</a></li>

          <li><a href="#">Wolore massa astumed</a></li>
        </ul>
      </div>

      <div class="col-indent col-1">
        <ul class="list2 nostyle">
          <li><a href="#">Praesent vestibulu</a></li>

          <li><a href="#">Tolestie lacusenean nonumy</a></li>

          <li><a href="#">Cendrerit mauris hasellu</a></li>
        </ul>
      </div>

      <div class="col-1">
        <ul class="list2 nostyle">
          <li><a href="#">Quisque nullaestibulum</a></li>

          <li><a href="#">Ubero nisl porta vel scelersq</a></li>

          <li><a href="#">Sget malesuada at</a></li>
        </ul>
      </div>
    </div>
  </div>

