<h1>Warranty</h1>
<br/>
<div class="col-1 col-indent">
  <div class="box">
    <h3>Menu</h3>
    <ul class="nostyle categories">
<li><%= link_to "Rental", rentals_path %></li>
<li><%= link_to "Sales/Purchase", sales_path %></li>
<li><%= link_to "Service & Maintenance", services_path %></li>
<li><%= link_to "Warranty", pages_warranty_path %></li><br/>
    </ul>
</div>
</div>
<div class="col-2">
<Strong>LIMITED WARRANTY</strong>
<br/>
<br/>
<p>This warranty is extended to the original purchaser of an evaporative cooler installed and used under normal conditions. It does not cover damages incurred through accident, neglect, or abuse by the owner. We do not authorize any person or representative to assume for us any other or different liability in connection with this product.</p>
<br/>
<strong>TERMS AND CONDITIONS OF WARRANTY</strong>
<br/>
<br/>
<p>For One Year from date of installation, we will replace the original base assembly if water leakage should occur due to rust out.
For One Year from date of installation, we will replace any original component provided by ACMECA which fails due to any defect in material or factory workmanship only.</p>
<br/>
<strong>EXCLUSIONS FROM THE WARRANTY</strong>
<br/>
<br/>
<p>We are not responsible for replacement of cooler pads. These are disposable components and should be replaced periodically.
We are not responsible for any incidental or consequential damage resulting from any malfunction.
We are not responsible for any damage received from the use of water softeners, chemicals, descale material, plastic wrap, or if a motor of a higher horsepower than what is shown on the serial plate is used in the unit.</p>
</div>
