<h1>Gallery</h1>
<div class="catalog1">
<% for album in @albums %>
  <div class="catalog1-item">
    <%= link_to get_first_image(album, :small), album  %>
    <%= link_to album.name, album %>
  </div>
<% end %>
</div>
