<fieldset>

<legend>Gallery</legend>
  <% for album in @albums %>
    <table>
  <% for photo in album.photos %>
    <tr>
    <td><%= image_tag photo.data.url, :alt => "" %></td>
    </tr>
   <% end %>
     </table>
  <% end %>

</fieldset>
