<h1>Gallery</h1>
  <% for album in @albums %>
    <table>
    <tr>
       <td><%= link_to album.name, albums_view_path %></td>
    </tr>
  <% for photo in album.photos %>
    <tr>
    <td><%= image_tag photo.data.url, :alt => "" %></td>
    </tr>
   <% end %>
     </table>
  <% end %>


