<p id="notice"><%= notice %></p>

<p>
  <b>Gcategory name:</b>
  <%= @gcategory.gcategory_name %>
</p>


<%= link_to 'Edit', edit_gcategory_path(@gcategory) %> |
<%= link_to 'Back', gcategories_path %>
