<h1>Gallery Display</h1>
<div class="catalog1">
<% for album in @albums %>
  <div class="catalog1-item">
    <%= link_to get_first_image(album, :small), manage_album_path(album) %>
    <%= link_to album.name, manage_album_path(album) %>
  </div>
<% end %>
</div>
<%= link_to 'Back', manage_index_path %>
