<!DOCTYPE html>
<html>
<head>
  <title>Acmeca</title>
  <%= render 'layouts/layout' %>
  <%= render 'layouts/style' %>
</head>

<body id="page1">
	<div class="extra">
		<!--header -->
<div id="header">
<div class="main">
                <div class="wrapper">

                <h1><a href="home.html">Acmeca</a></h1>
                        
                <form id="form-1" action="" >
                <div>

                </div>  
                </form>
			</div>
                </div>
                          
                <div class="menu-bg">
                <div class="main">
                <div class="menu">

<ul>
<li class="first"><a href="home.html">Home</a></li>
<li><a href="services.html">Services</a></li>
<li><a href="gallery.html">Gallery</a></li>
<li><a href="products.html">Products</a></li>
<li><a href="contact.html">Contact</a></li>

</ul>

</div>
	</div>
</div>
<!-- start of content -->
<div id="content">
<%= yield %>
</div>
</div>
<!-- end of content -->
<!--{%FOOTER_LINK}-->

<div class="menu1">
<ul>
<li class="first"><a href="home.html">Home</a></li>
<li><a href="services.html">Services</a></li>
<li><a href="gallery.html">Gallery</a></li>
<li><a href="products.html">Products</a></li>
<li><a href="contact.html">Contact</a></li>
</ul>

</div>
</div>
<!--footer end-->
    
</body>
</html>
